@use "styles/typography";
@use "styles/colorSchemes";
@use "styles/ctas";

.button {
  @include ctas.button-reset;
}

.anchor {
  @include ctas.anchor-reset;

  align-items: center;
  display: inline-flex;
}

.root {
  @include typography.button;

  border: 1px solid black;
  border-radius: 30px;
  color: black;
  height: 26px;
  justify-content: center;
  padding: 0 15px;

  @include colorSchemes.dark {
    border: 1px solid white;
    color: white;
  }

  &:hover {
    background-color: var(--yellow-01);
    color: black;
  }

  &.isActive {
    background-color: black;
    color: white;

    @include colorSchemes.dark {
      background-color: white;
      color: black;
    }
  }

  &:focus,
  &:active {
    box-shadow: 0 0 2px 1px var(--blue-01);
  }
}
