@use "styles/typography";
@use "styles/breakpoints";

.root {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  @include breakpoints.sm-up {
    grid-template-columns: 1fr 1fr;
  }
}

.empty {
  @include typography.heading-1;

  color: black;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

.listItem {
  margin: 0;
  padding: 14%;
  transform: rotate(var(--rotation));

  .root.empty & {
    padding: 14% 0 0 14%;
  }
}

.link {
  clip-path: var(--short-banana-with-day-clip-path);
  display: inline-block;

  &:hover,
  &:active {
    background-color: var(--blue-01);
  }
}
