@use "styles/breakpoints";
@use "styles/typography";

.root {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem {
  margin: 124px 0 0;
  padding: 0;
}

.empty {
  @include typography.heading-1;

  color: black;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}
