.container {
  display: grid;
  gap: var(--body-padding);
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: min-content auto min-content;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  grid-area: header;
}

.navbar {
  padding: 10px var(--body-padding);
  width: 100%;
}

.main {
  grid-area: main;
  place-self: center stretch;
}

.footer {
  grid-area: footer;
  width: 100%;
}
