@use "styles/breakpoints";

.container {
  display: grid;
  gap: var(--body-padding);
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 72px auto min-content;
  width: 100%;
}

.header {
  align-items: center;
  background: linear-gradient(180deg, white 0%, white 50%, rgb(255 255 255 / 0%) 100%);
  display: flex;
  grid-area: header;
  padding-bottom: 40px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar {
  padding: 10px var(--body-padding);
  width: 100%;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  width: 100%;
}
