@use "styles/breakpoints";

.container {
  display: grid;
  gap: var(--body-padding);
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 55px auto 55px;

  /* mobile viewport bug fix */
  min-height: stretch;
  min-height: 100vh;
}

.header {
  align-items: center;
  display: flex;
  grid-area: header;
}

.navbar {
  padding: 0 var(--body-padding);
  width: 100%;
}

.main {
  grid-area: main;
  place-self: center stretch;
}

.footer {
  align-items: flex-end;
  display: flex;
  grid-area: footer;
  padding: var(--body-padding);
}
