@use "styles/typography";
@use "styles/breakpoints";

.root {
  display: grid;
  gap: var(--body-padding);
  grid-template-areas: "side main";
  grid-template-columns: auto 1fr;
  overflow: hidden;
  padding: var(--body-padding);
}

.nav {
  grid-area: side;
}

.bananaDates {
  grid-area: main;
}
