.root {
  align-items: center;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.bananaNav {
  margin: 0 auto;
  max-width: 780px;
  padding-bottom: min(95px, 20%);
  padding-left: min(190px, 30%);
  padding-right: min(100px, 13%);
  width: 120%;
}
