@use "styles/breakpoints";

.root {
  padding: var(--body-padding);
}

.list {
  list-style: none;
  margin: 20px 0;
  padding: 0;

  @include breakpoints.sm-up {
    margin: 100px 20% 0;
  }
}

.listItem {
  margin: 124px 0 0;
  padding: 0;
}
