@use "styles/breakpoints";
@use "styles/typography";
@use "styles/colorSchemes";

.root {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem {
  margin: 124px 0 0;
  padding: 0;
  position: relative;
}

.elevenEleven {
  @include typography.heading-3;

  margin: 124px 0 0;

  @include breakpoints.sm-up {
    left: 8px;
    position: relative;
  }
}

.btn {
  opacity: 0.2;
  color: black;

  @include colorSchemes.dark {
    opacity: 0.3;
    color: white;
  }

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
