@use "styles/breakpoints";
@use "styles/accessibility";
@use "styles/typography";
@use "styles/colorSchemes";

.root {
  perspective: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include breakpoints.sm-up {
    padding-left: 80px;
  }
}

.time {
  @include typography.heading-3;

  color: black;
  display: inline-block;

  @include colorSchemes.dark {
    color: white;
  }

  @include breakpoints.sm-up {
    left: 8px;
    position: absolute;
    top: 26px;
  }
}

.title {
  @include typography.heading-1;

  color: black;
  hyphens: auto;
  margin-top: 16px;
  overflow-wrap: break-word;
  word-break: break-word;
  display: inline-block;

  @include colorSchemes.dark {
    color: white;
  }

  @include breakpoints.sm-up {
    margin-top: 0;
  }
}

.artist {
  @include typography.heading-2;

  color: black;
  margin-top: 4px;
  display: inline-block;

  @include colorSchemes.dark {
    color: white;
  }
}

.album,
.label,
.releaseDate {
  @include typography.heading-3;

  color: var(--grey-02);
  display: inline-block;

  @include colorSchemes.dark {
    color: var(--grey-03);
  }
}

.album {
  margin-top: 24px;
}

.label {
  margin-top: 14px;
}

.releaseDate {
  margin-top: 14px;
}

.value {
  color: black;
  display: inline-block;

  @include colorSchemes.dark {
    color: white;
  }
}

.sticker {
  background: transparent;
  display: inline-block;
  font-size: 0;
  margin-top: 24px;
  position: relative;

  @include breakpoints.sm-up {
    margin-top: 32px;
  }
}

.stickerImg {
  transition: transform 0.3s;

  .sticker:hover &,
  .sticker:focus & {
    transform: rotateY(180deg);
  }
}

.linkText {
  @include accessibility.screen-reader-only;
}
