@use "styles/typography";
@use "styles/breakpoints";

.root {
  display: grid;
  gap: var(--body-padding);
  grid-template-areas: "side main";
  grid-template-columns: 100px 1fr;
  overflow: hidden;
  padding: var(--body-padding);

  @include breakpoints.sm-up {
    grid-template-columns: 150px 1fr;
  }
}

.nav {
  grid-area: side;
}

.navInner {
  position: fixed;
  max-height: 85%;
  overflow-y: scroll;
}

.bananaDates {
  grid-area: main;
}
