@use "styles/breakpoints";

.root {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.bananaNav {
  left: 50%;
  max-height: 600px;
  max-width: 700px;
  position: absolute;
  top: 50%;
  transform:
    translate(-45%, -40%) rotate(
      45deg
    );
  transform-origin: center;
  width: 130%;

  @include breakpoints.sm-up {
    height: 80%;
    transform:
      translate(-55%, -40%) rotate(
        45deg
      );
    width: initial;
  }
}
