@use "styles/breakpoints";

.root {
  padding: var(--body-padding);
}

.bananas {
  max-width: 275px;
  position: fixed;
  top: min(70px, 35vw);
  width: 45%;
  transform: rotate(314deg);
  left: -4px;
  z-index: var(--z-index-tracks-bananas);

  @include breakpoints.sm-up {
    left: 4vw;
  }

  @include breakpoints.md-up {
    left: 9vw;
  }
}

.banana {
  max-width: 200px;
  position: fixed;
  right: 30px;
  top: min(275px, 100vw);
  transform: translateY(-50%) rotate(283deg);
  width: 40%;
  z-index: var(--z-index-tracks-banana);

  @include breakpoints.sm-up {
    right: 10vw;
  }

  @include breakpoints.md-up {
    right: 20vw;
  }
}

.list {
  --margin-top: min(400px, 70vw);

  margin-bottom: 100px;
  margin-top: var(--margin-top);
  position: relative;
  z-index: var(--z-index-tracks-list);

  @include breakpoints.sm-up {
    margin: var(--margin-top) 10% 0;
  }

  @include breakpoints.md-up {
    margin: var(--margin-top) 20% 0;
  }
}
