@use "styles/accessibility";
@use "styles/breakpoints";

@keyframes rotate {
  50% {
    transform: rotate(var(--rotate-ani)) translate3d(0, 0, 0);
  }
}

.root {
  display: inline-block;
}

.list {
  aspect-ratio: var(--padded-banana-aspect-ratio);
  display: inline-block;
  list-style: none;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  position: relative;
}

.item {
  left: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
  top: 0;
  transform-origin: 7% 13%;

  .shouldJiggle & {
    animation: rotate var(--duration) ease-in-out infinite forwards;
  }

  &:nth-child(1) {
    --rotate-ani: 4deg;
    --duration: 2s;

    position: relative;
    transform: rotate(0deg);
    z-index: 3;
  }

  &:nth-child(2) {
    --rotate-ani: -28deg;
    --duration: 3s;

    position: absolute;
    transform: rotate(-25deg);
    z-index: 2;
  }

  &:nth-child(3) {
    --rotate-ani: -47deg;
    --duration: 4s;

    position: absolute;
    transform: rotate(-50deg);
    z-index: 1;
  }
}

.bananaWrapper {
  clip-path: var(--padded-banana-clip-path);
  display: inline-block;
  pointer-events: all;

  .root.shouldHover &:hover,
  .root.shouldHover &:focus {
    background-color: var(--blue-01);
  }
}

.banana {
  max-width: 100%;
  user-select: none;
  vertical-align: middle;
}

.sticker {
  aspect-ratio: 1;
  display: inline-block;
  left: 0;
  left: 19%;
  position: absolute;
  top: 0;
  top: 72%;
  transform:
    translate(-50%, -50%) rotate(
      -40deg
    );
  width: 13%;
}

.label {
  @include accessibility.screen-reader-only;
}
